<div>
    <h2><strong>Connexion</strong></h2>
    <p>Connectez-vous pour accéder à votre compte</p>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div>
            <label for="email">Email</label>
            <input type="email" id="email" formControlName="email" class="form-control" autocomplete="username"/>
            @if (this.loginForm.controls['email'].invalid) {
                <span>{{ getErrorMessage('email') }}</span>
            }
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" id="password" formControlName="password" class="form-control" autocomplete="current-password" />
            @if (this.loginForm.controls['password'].invalid) {
                <span>{{ getErrorMessage('password') }}</span>
            }
        </div>
        <button type="submit" [disabled]="loading">Login</button>
    </form>
</div>