<div *ngIf="articles.length > 0; else noArticles">
    <div *ngFor="let article of articles; trackBy: trackByTitle">
      <div>
        <h2><strong>Title:</strong> {{ article.title }}</h2>
        <p><strong>Abstract:</strong> {{ article.abstract }}</p>
        <p><strong>Authors:</strong>
          <span *ngFor="let author of article.authors; let last = last">
            {{ author.name }}<span *ngIf="!last">, </span>
          </span>
        </p>
        <a routerLink='/articles/{{article.id}}'>View Details</a>
      </div>
      <br><br>
    </div>
  </div>
  
  <ng-template #noArticles>
    <p>No articles available.</p>
  </ng-template>
  