<div class="container mx-auto p-4 max-w-lg">
    <h2 class="text-2xl font-semibold text-center mb-6">Inscription</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">

        <!-- Prénom -->
        <div class="form-group mb-4">
            <label for="firstName" class="label">
                <span class="label-text">Prénom</span>
            </label>
            <input type="text" id="firstName" formControlName="firstName" class="input input-bordered w-full" />

            @if (registerForm.controls['firstName'].touched && registerForm.controls['firstName'].invalid) {
            <div class="text-error text-sm mt-1">{{ getErrorMessage('firstName') }}</div>
            }

        </div>

        <div class="form-group mb-4">
            <label for="lastName" class="label">
                <span class="label-text">Nom</span>
            </label>
            <input type="text" id="lastName" formControlName="lastName" class="input input-bordered w-full" />

            @if (registerForm.controls['lastName'].touched && registerForm.controls['lastName'].invalid) {
            <div class="text-error text-sm mt-1">{{ getErrorMessage('lastName') }}</div>
            }
        </div>

        <div class="form-group mb-4">
            <label for="email" class="label">
                <span class="label-text">Email</span>
            </label>
            <input type="email" id="email" formControlName="email" class="input input-bordered w-full" />

            @if (registerForm.controls['email'].touched && registerForm.controls['email'].invalid) {
            <div class="text-error text-sm mt-1">{{ getErrorMessage('email') }}</div>
            }
        </div>

        <div class="form-group mb-4">
            <label for="password" class="label">
                <span class="label-text">Mot de passe</span>
            </label>
            <input type="password" id="password" formControlName="password" class="input input-bordered w-full" />
            @if (registerForm.controls['password'].touched && registerForm.controls['password'].invalid) {
            <div>{{ getErrorMessage('password') }}</div>
            }
        </div>

        <div class="form-group mb-4">
            <label for="confirmPassword" class="label">
                <span class="label-text">Confirmer le mot de passe</span>
            </label>
            <input type="password" id="confirmPassword" formControlName="confirmPassword"
                class="input input-bordered w-full" />
            <div *ngIf="registerForm.controls['confirmPassword'].touched && registerForm.controls['confirmPassword'].invalid"
                class="text-error text-sm mt-1">
                {{ getErrorMessage('confirmPassword') }}
            </div>
        </div>

        <div class="form-group mb-4">
            <label for="position" class="label">
                <span class="label-text">Position</span>
            </label>
            <select id="position" formControlName="position" class="select select-bordered w-full">
                <option value="Std.">Student</option>
                <option value="PhD.">PhD</option>
                <option value="PostPhD.">Post-PhD</option>
                <option value="Dr.">Doctor</option>
                <option value="Pr.">Professor</option>
            </select>
            @if (registerForm.controls['position'].touched && registerForm.controls['position'].invalid) {
            <div class="text-error text-sm mt-1">{{ getErrorMessage('position') }}</div>
            }
        </div>

        <!-- Rôle (masqué) -->
        @if (false) {
        <div class="form-group mb-4" *ngIf="">
            <label for="role" class="label">
                <span class="label-text">Rôle</span>
            </label>
            <select id="role" formControlName="role" class="select select-bordered w-full">
                <option value="Client">Client</option>
                <option value="Author">Author</option>
                <option value="Admin">Admin</option>
            </select>
        </div>
        }

        <!-- Permissions -->
        <div class="form-group">
            <label for="permissions">Permissions</label>
            <select id="permissions" formControlName="permissions" class="form-control" multiple>
                <option *ngFor="let permission of selectedPermissions" [value]="permission">{{ permission }}</option>
            </select>
        </div>

        <button type="submit" [disabled]="loading" class="btn btn-primary w-full" [ngClass]="{'loading': loading}">
            {{ loading ? 'Enregistrement...' : 'S\'inscrire' }}
        </button>

        <div *ngIf="errorMessage" class="text-error mt-3">
            {{ errorMessage }}
        </div>
    </form>
</div>